* {
  box-sizing: border-box;  
  font-family:Arial,Helvetica;
}

@media screen and (max-width: 500px) {
  .title_entry {
    width: 60%;
  }
  
  .text_entry {
    width: 80;
  height: 700px;
  }
  
  .query_button {
    padding: 5px 12px ;
    font-weight: bold;
    background: #f2f2f2;
    font-size: 20px;
   }
}

body {
  margin: 0;
}

textarea {
  width: 70%;
  height: 500px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  align:center;
}

.control {
  background-color: #333;
  height: 110px;
}

.control h1 {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
 
}

.control h2 {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}

.add_button {
    padding: 5px 12px ;
    font-weight: bold;
    background: #f2f2f2;
    font-size: 17px;
}

.query_button {
    padding: 5px 12px ;
    font-weight: bold;
    background: #f2f2f2;
    font-size: 17px;
}

.note {
    background-color: #bbb;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   border: 10px solid white;
}

.form {
  background-color: #333;
  height:100%; 
  padding: 12px;
}
